/* CLASS STYLING (Desktop-size) */

/* Container of footer image blocks */

.f-container {
  position: absolute;
  top: 40em;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.f-container img {
  width: 100%;
  height: auto;
}

/* Black image block showing on front position */

.f-front {
  top: 5.3em;
  z-index: 1;
}

/* Yellow image block showing in middle position */

.f-middle {
  top: 5em;
  z-index: 1;
}

/* Grey image block showing in back position*/

.f-back {
  z-index: -1;
}

/* MEDIA-QUERIES FOR THE FOOTER*/

/* Tablet-size portrait mode*/

@media (max-width: 786px) {
  .f-info-block {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 12.5em;
    background-color: var(--black);
  }
}

/* Mobile-size biggest width*/

@media (max-width: 480px) {
  .f-info-block {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 12.5em;
    background-color: var(--black);
  }

  .f-front {
    top: 3.3em;
  }

  .f-middle {
    top: 3em;
  }
}
