/*ELEMENT TAG STYLING (Desktop-size)*/

header {
  justify-content: space-between;
  background-color: var(--darkGrey);
  min-height: 3.5em;
  color: var(--white);
}

/* CLASS STYLING (Desktop-size) */

.h-title {
  padding-left: 1em;
}

.h-date {
  padding-right: 1em;
  font-size: 0.7em;
}

/*MEDIA-QUERIES*/

/*Tablet size portrait mode*/

@media (max-width: 768px) {
  .h-title {
    font-size: 1em;
  }

  .h-date {
    font-size: 0.6em;
  }
}
