.m-title {
}

.m-title {
}

html,
body {
  height: 100%;
}

main {
  background-color: rgb(0, 162, 255);
  /* padding-right: 0.5em; */
  padding-left: 2.5em;
}

.m-date-container {
  background-color: rgb(0, 255, 242);
}

.m-current-month {
  padding: 1em;
}

.m-month-arrow-left {
  font-size: 25px;
  font-weight: bold;
}

.m-month-arrow-right {
  font-size: 25px;
  font-weight: bold;
}

.m-calender-container {
  background-color: rgb(238, 255, 0);
  padding-bottom: 4em;
  padding-top: 1em;
  /* padding-left: 1em;
  padding-right: 1em; */
}

.m-week-row-box {
  background-color: rgb(0, 116, 0);
  width: 100%;
}

.m-day-container {
  background-color: var(--CalLightGrey);
  background-color: blueviolet;
  width: 100%;
  flex-grow: 1;
  border-radius: 1.5em;
  /* width: 7.5em;
  height: 9em; */
  /* max-width: 8em; */
}

.m-day-date-box {
  width: 100%;
  height: 2.5em;

  padding-left: 0.8em;
}

.m-todo-box {
  width: 100%;
}

.m-todo-margin-r {
  margin-right: 0.5em;
}

.m-todo-margin-b {
  margin-bottom: 0.5em;
}

.m-week-number-box {
  background-color: rgb(126, 126, 126);
  /* width: 5em; */
  width: 12%;
  height: 100%;
  padding: left 2em;
  justify-content: center;
}

.p-month {
  /* font-size: 23px;   */
  font-weight: bold;
}

.p-week-day {
}

.p-date {
}

.p-week {
}

.p-todos {
}

.m-week-empty-box {
  background-color: red;
  /* display: none; */
  width: 1.8em;
}

.m-week-day-box {
  background-color: rgb(255, 166, 0);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
