.m-title {
}

html,
body {
  height: 100%;
}

main {
  background-color: var(--vanillaBeige);
  padding-left: 2.5em;
  padding-left: 0.5em;
}

.m-date-container {
  background-color: var(--vanillaBeige);
}

.m-current-month {
  padding: 1em;
}

.m-month-arrow-left {
  font-size: 25px;
  font-weight: bold;
}

.m-month-arrow-right {
  font-size: 25px;
  font-weight: bold;
}

.m-calender-container {
  padding-bottom: 1em;
  padding-right: 0.5em;
  background-color: var(--vanillaBeige);
}

.m-week-row-box {
  background-color: var(--vanillaBeige);
  width: 100%;
}

.m-day-container {
  background-color: var(--CalLightGrey);

  width: 100%;
  flex-grow: 1;
  border-radius: 1.5em;
  /* width: 7.5em;
  height: 9em; */
  /* max-width: 8em; */
}

.m-day-date-box {
  width: 100%;
  height: 2.5em;

  padding-left: 0.8em;
}

.m-todo-box {
  width: 100%;
}

.m-todo-margin-r {
  margin-right: 0.5em;
}

.m-todo-margin-b {
  margin-bottom: 0.5em;
}

.m-week-number-box {
  background-color: var(--vanillaBeige);
  /* width: 5em; */
  width: 12%;
  height: 100%;
  padding: left 2em;
  justify-content: center;
}

.p-month {
  /* font-size: 23px;   */
  font-weight: bold;
}

.p-week-day {
  font-weight: bold;
}

.p-date {
  color: rgb(250, 1, 250);
}

.p-week {
  font-weight: bold;
}

.p-todos {
}

.p-red-day {
  color: red;
}

.m-week-empty-box {
  width: 1em;
  background-color: var(--vanillaBeige);
}

.m-week-day-box {
  background-color: var(--vanillaBeige);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.week-day-padding {
  padding-right: 0.5em;
}

@media (max-width: 1260px) {
  main {
    padding-left: 1em;
  }
  .m-calender-container {
    padding-bottom: 1em;
  }
}
