/* Sidebar-knappar */

#add-btn {
    color: var(--darkGrey);
    background-color: var(--orange);
    font-size: 25px;
    border: none;
    width: 2em;
    height: 2em;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

#remove-btn {
    align-self: flex-end;
  }

.s-btn-round {
    border-radius: 50%;
}

.s-btn-onLine {
    margin-top: -0.6em;
}


.s-small-btn {
    background-color: var(--white);
    padding: 0.5em 0.7em;
    margin-right: 0.1em;
    border: 1px solid var(--lightGrey);
    font-size: 9px;
    color: var(--black);
    max-height: 18px;
    max-width: 18px;
}

/* Sidebar */

aside {
    background-color: var(--darkGrey);
    /* margin-top: -0.1em; */
    width: 20%;
    min-width: 15em;
    height: calc(100vh - 3.5em);
    color: var(--white);
}

/* Sidebar id */

#sidebar-when-desktop {
    display: flex;
}

#aside-day-container {
    margin: 1em;
}

#aside-weekday, #aside-date {
    padding: 0.2em;
}

#calendar-for-mobile {
    display: none;
    margin-top: 2em;
}

/* Sidebar container */

.s-container {
    overflow: auto;
    height: 45em;
}

/*Media-queries*/

@media (max-width: 1024px) {
    aside {
        width: 100%;
        height: 50%;
    }
    #main-container {
        flex-direction: column-reverse;
    }
    .s-container {
        height: 38.8em;
    }
}

@media (max-width: 768px) {
    aside {
        width: 100%;
        height: 50%;
    }
    #main-container {
        flex-direction: column-reverse;
    }
    .s-container {
        height: 28em;
    }
}

@media (max-width: 480px) {
    aside {
        width: 100%;
        height: 100%;
    }
    #sidebar-when-desktop {
        display: flex;
    }
    #calendar-for-mobile {
        display: flex;
        margin-top: 2em;
        height: 2em;
        padding: 0.3em;
        border-radius: 0.4em;
    }
}